<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="container-fluid">
        <section>
            <nav class="navigation">
                <label class="logo">Book Store</label>
                <ul>
                    <li><a [routerLink]='["/aboutus"]' class="link1">About Us</a></li>
                    <li><a [routerLink]='["/login"]' class="link2">SignIn</a></li>
                    <li><a [routerLink]='["/signup"]' class="link5">SignUp</a></li>
                </ul>
            </nav>
            <div class="imgdiv"></div>
            <div class="footer">
                <label class="footerlogo">All Rights Reserved</label>
                <label>Contact Us at - prakhar@gmail.com | 1234567891</label>
                <ul>
                    <li><a [routerLink]='["/aboutus"]' class="link3">About Us</a></li>
                    <li><a [routerLink]='["/login"]' class="link4">SignIn</a></li>
                    <li><a [routerLink]='["/signup"]' class="link6">SignUp</a></li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>

